@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

*{
    padding:0;
    margin:0;
}
.container h1{
    padding-top: 30px;
    text-align: center;
    color: purple;
    font-weight: bold;
    text-shadow:4px 4px lightskyblue;
}
.container h1:hover{
    color:crimson;
    cursor: pointer;
    text-shadow: 4px 4px yellow;
}
h2{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;
    color: purple;
    font-weight: bold;
    text-shadow:4px 4px lightskyblue;
}
h2:hover{
    color:crimson;
    cursor: pointer;
    text-shadow: 4px 4px yellow;
}
.container .biryani_img1{
    max-height: 350px;
    max-width: 350px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
    margin:30px 20px 20px 50px;
    font-size: 20px;
}
.container .veg_biryani{
    max-height: 350px;
    max-width: 350px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.container .tomato{
    max-width: 90px;
    max-height: 90px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 700px) {
    .heading h1{
        padding-top: 30px;
        font-size: 30px;
    }
    .container .biryani_img1{
        max-height:300px;
        max-width: 300px;
        display: block;
      margin-left: auto;
      margin-right: auto;
    }
}
